        body, html {
            margin: 0; 
            padding: 0;
            height: 100%;
            font-family: 'Zilla Slab', serif;
            color: #fff;
            overflow: hidden;
            z-index: 1000;
        }
        h1 {
            font-family: 'Dancing Script', cursive;
            font-weight: 800; /* Thinner font */
            color: white;
            font-size: 5em;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Subtle shadow for depth */
            letter-spacing: 1px; /* Slight spacing between letters */
        }

.header {
  background: radial-gradient(circle, rgba(16,106,18,1) 0%, rgb(10, 26, 12) 100%);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-container {
  flex: 1;
}

.logo {
  height: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.nav-links a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

.nav-links a:hover {
  background-color: #ffffff;
  color: #038620;
}

.menu {
  font-size: 16px;
  display: flex;
  position: relative;
  padding: 10px;
  margin-left: 15px;
}

.menu .link {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu .item {
  position: relative;
}

.menu .submenu {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: -40px;
  background-color: white;
  color: black;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.menu .submenu-item {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

#fa-bars {
  color: green; /* Green color for the bars */
  background-color: white; /* White background */
  border-radius: 50%; /* Circular background */
  padding: 10px; /* Adjust as per the size you want */
  display: inline-block; /* Ensure it's inline and the circle wraps around */
}

#fa-bars:hover {
  background-color: green; /* Change the background color on hover */
  color: white; /* Change the text color on hover */
}

.menu .submenu-item:hover {
  background-color: green;
  color: white;
}

.menu:hover .submenu {
  display: block;
}

body.menu-open .submenu {
  display: none;
}


        #welcome-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }
        h1 {
            font-size: 5rem;
            letter-spacing: 5px;
            margin-bottom: 40px;
        }
        .contact-btn, .notify-btn {
            background-color: #027400;
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 30px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            height: 50px;
        }
        .contact-btn:hover {
            background-color: #00c52e;
            transform: translateY(-3px);
        }
        .notify-btn:hover {
            background-color: #00c52e;
        }
        .email-container {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
        .email-input {
            padding: 15px;
            border-radius: 30px 0 0 30px;
            border: none;
            width: 300px;
            font-size: 1rem;
        }
        .notify-btn {
            border-radius: 0 30px 30px 0;
        }